global-include COPYING COPYING.*
include README.rst ChangeLog ChangeLog.*
include ffgo-launcher.py Makefile shared.mk MANIFEST.in

graft docs
prune docs/README.conditional-config.source/_build

graft ffgo
recursive-include share *.svg *.png *.desktop Makefile

exclude setup.cfg
prune README.Sphinx-build
prune tmp
global-exclude *.pyc __pycache__ .gitignore .gitattributes
